extends layout

block content


  .slider
    .container
      .flexslider
        h2#a555.slides-caption 50万美元，5年，全家绿卡
        h4#contact.slides-caption
         span.glyphicon.glyphicon-earphone
         &nbsp;咨询热线: 400-036-8278
        ul.slides
          li
            img(src="/img/banner3.jpg")
            p
          li
            img(src="/img/banner4.jpg")
          li
            img(src="/img/banner_img.jpg")
  #content-wrap.content
    .container
      .row
        .col-md-3
          ul.nav.nav-pills.nav-stacked.hm-bordered(role="tablist")
            li.active: a(href="#eb5" role="tab" data-toggle="tab") 关于EB-5
            li: a(href="#flow" role="tab" data-toggle="tab") EB-5流程图
            li: a(href="#project" role="tab" data-toggle="tab") 关于项目
            li: a(href="#faq" role="tab" data-toggle="tab") 常见问题
            li: a(href="#us" role="tab" data-toggle="tab") 关于我们
            //- li: a(href="#join" role="tab" data-toggle="tab") 参与项目

        .col-md-9
          .tab-content
            #eb5.tab-pane.fade.in.active
              .row.hm-bordered
               span.arrow &nbsp;
               span.content-title 关于 EB-5
              .content-wrap.row.hm-bordered
               h4 EB-5 简介
               p
                 | EB-5，是美国政府审核的投资移民项目。主要目的在提高美国境内的就业机会，也就是说，
                 | 参加投资移民的投资人，投资50万美元到EB-5的项目公司，由项目公司招聘10个员工，参与项目公司的业务运营。
                 | 项目公司运营五年后，投资人取回剩余投资款（50万美元或以下）。
               h4 EB-5 投资风险
               p
                 | 项目公司，虽然经过美国政府的审核进入EB-5，仍属自负盈亏的企业性质，不因为参加EB-5而保证盈利。
                 | 因此，五年之后，投资人是否能如数取回当初投资的50万美元，取决于这五年的运营结果。
               p
                 | 如果项目公司盈利，投资人不享有盈利部分，五年后仍取回50万美元（无利息）；
                 | 如果项目公司亏损，投资人按比例承担亏损。因此，项目公司的选择至关重要。
               h4 EB-5 优点
               p
                 | 投资额到位、文件齐备以后，律师递交移民材料，正式启动投资移民。
                 | 6-12个月后，取得临时绿卡，全家（申请人的配偶和子女）均取得临时绿卡，没有子女数额的限制。
                 | 取得临时绿卡，子女就可以入读美国公立学校，绿卡持有人在美国陪读时间没有限制。
                 | 临时绿卡后21-24个月，申请永久绿卡，[这期间申请人是需要连续居住在美国的]。永久绿卡后五年，申请美国公民，
                 | [这期间申请人需要/不需要连续居住在美国]。 [孙律氏/Sean：哪个阶段，投资人可以享受全部的教育、医疗？]
            #flow.tab-pane.fade
             .row.hm-bordered
              span.arrow &nbsp;
              span.content-title EB-5流程图
             .content-wrap.row.hm-bordered
              img#flowchart(src="/img/flow.png")
            #project.tab-pane.fade
             .row.hm-bordered
               span.arrow &nbsp;
               span.content-title 关于项目
             .content-wrap.row.hm-bordered
              h4 加州洛杉矶电话呼叫中心
                //- span.pull-right 还剩3个名额
              p
                | 每位投资人投资50万美元，五位投资人共250万美元，即可成立一个呼叫中心。
                | 250万美元，其中200万美元做为房产投资，这个房产用于呼叫中心的办公场所，
                | 剩下的50万美元做为呼叫中心的运营成本（例如设备、员工的工资）。呼叫中心的员工满足EB-5的就业要求。
              p
                | 投资期限五年，指项目公司运营五年，从投资人取得I-526批准，也就是项目公司可以动用投资款50万美元的时候起算五年。
                | 由于投资款需要先到位，然后申请I-526到批准I-526需要6-12个月，因此，投资人的投资期限实际上约为五年半到六年之间。
              p
                | 这个项目的优势，包括：
                ol
                  li 五位投资人即可成立一个呼叫中心，不需要等许多人很多时间资金到位，项目启动时间相对可控；
                  li 投资金额80%左右投资房产作为办公场所，洛杉矶的房产抗跌能力高，在美国金融风暴时平均跌幅在10%以内，所以投资风险相对可控；
                  li 呼叫中心的业务，已经取得金融公司、保险公司的意向书，呼叫中心的人员的培训、上岗周期短，
                    | 所以项目公司的业务相对单纯、稳定、可控；以及
                  li 投资房产作为办公场所，是现金投入，没有银行贷款，五年以后投资人取回投资款，项目公司的现金压力相对可控可行。
              //- p 期限：2014－4-1 —— 2014-6-9

            #faq.tab-pane.fade
             .row.hm-bordered
              span.arrow &nbsp;
              span.content-title 常见问题
             .content-wrap.row.hm-bordered
              p Q	美国是全球征税的，我会不会交很多税？
              p.bg-info A	美国的全球征税，是对“临时绿卡”以后的收入征税，以前的收入是不算的。
                | 至于以后的收入，可以合理避税，例如境外的信托安排，这个有会计师可以咨询。
                | 此外，是对临时绿卡的持有人的收入征税，夫妻如果只有一人持有临时绿卡，不代表配偶的收入也需要征税。

              p Q	全家拿绿卡，有限额吗？
              p.bg-info A	全家，指夫妻和子女，美国没有一胎化的限制，只要是子女，没有限额。但夫妻双方的父母，不属于全家绿卡。

              p Q	项目公司盈利，投资人不分享盈利，公司亏损，投资人共同承担亏损。我如何知道公司是盈利还是亏损？
              p.bg-info A	项目公司每年有注册会计师出具审计报告，披露公司的运营状况。

              p Q	项目公司如果亏损严重，会不会在我拿到临时绿卡、正式绿卡以前破产，造成我血本无归、也拿不到美国身份？
              p.bg-info A	[孙律师/ Sean，请协助回答 ]

              p Q	EB-5投资额只有50万美元，其他费用是什么？
              p.bg-info A	50万美元投资额是项目公司到手价，银行之间转账或手续费，由投资人负担，所以会有零头。
                | 另外有6万5千美元，是美国律师费用和项目管理费。

              p Q	EB-5的五年期间，能提前退出吗？
              p.bg-info A	不能提前退出，因为会造成项目公司的运营中断，影响其他投资人的权益。
            #us.tab-pane.fade
              .row.hm-bordered
                span.arrow &nbsp;
                span.content-title ABOUT US
              .content-wrap.row.hm-bordered
                p The TEAM goal is to provide you, as the Investor, Attorney or Consultant,
                  | the information necessary to answer the many questions you will encounter on a frequent basis.
                  | Our dedicated and experienced TEAM will provide answers to all your questions.
                p
                  ul.none-li-style
                    li
                      blockquote All answers will be provided but not limited to: Business Services,
                        | Project or Business Sourcing, Relocation, Banking Services,
                        | Escrow Services, International Banking Recommendations, Document Preparation,
                        | Business Plans, Eco metric Analysis, Limited Partnership Agreements,
                        | Private Placement Memorandums, Immigration Services, Consular Interview and I-485,
                        | I-526 and I-829 Processing regarding the present requirements mandated by the USCIS
                        | (Unites States Citizenship & Immigration Services).The United States Congress created
                        | a new employment-based immigration policy in 1990 to allow foreign entrepreneurs
                        | to invest in new commercial job-creating enterprises in exchange for an
                        | expedited lawful permanent resident immigration status which leads to U.S. Citizenship.
                    li
                      blockquote The Immigration and Nationality Act (INA) allocates 10,000 immigrant
                        | visas (green cards) each year to qualified individuals seeking to obtain permanent
                        | residence in the U.S. on the basis of their investment in a qualified U.S. enterprise.
                p Our professional TEAM consists of economists and expert analysts to help provide
                  | proper job count, attorneys and accountants to provide consistent accurate answers
                  | and preparation of all documents, business plan writers and multilingual paralegal
                  | support staff among the other complex steps and personnel required for a successful application.
                p The United States is a safe harbor for you the investor/petitioner family
                  | as well as their personal and business investments. Investors have constant and
                  | easy access to the United States for personal, trade and business purposes.
                p Permanent residents and US passport holders travel to the United States and most
                  | countries without the need of a visa. Investors may work, live or own their business
                  | anywhere in the United States.
                p The cost of living in the United States is less than most large industrial nations.
                  | Consumer goods, services, and housing are significantly less expensive than comparable
                  | services and goods in most other countries.
                p The United States also provides many financial and educational entitlements and
                  | benefits such as public schools, health and medical attention, social security,
                  | and higher education.



              //- p 我们团队的目标是为您提供，作为投资者需要的代理人或顾问，回答冬种问题所必需的解答。
              //-   | 我们的专业和经验丰富的团队会解答您的所有问题。 比如:提供所有的答案且不限于：商业服务，
              //-   | 项目或企业采购，搬迁，金融服务，中介服务，国际银行业的建议，
              //-   | 文件淮备，商业计划书，生态指标分析，有限合伙协议，私募备忘录，移民服务，领事馆面试和
              //-   | I- 485 ， I-526和I- 829处理所有美国移民局的要求（国美公民及移民服务） 。
              //-   | 美国国会创建了一个新的职业移民政策，在1990年允许外国企业家在新的商业创造就业机会的企业投资，
              //-   | 以换取加急合法永久居民的移民身份并取得美国公民。
              //-
              //- p 移民和国籍法（INA ）每年分配10,000个移民签证（绿卡） ，以符合资格的个人寻求获得在美国的永久居留权.
              //-   | 建立在一个合格的美国企业投资的基础上。
              //-
              //- p 我们的专业团队包括经济学家和专家的分析，以帮助提供适当的新就业八数，
              //-   | 律师和会计师来提供一致淮确的答案和淮备的所有文件，商业计划书专家和其他所需的复杂步骤,
              //-   | 和会讲多种语言的律师助理协申请人成功获得正式緑卡。 美国是一个为您的投资/申诉人的家人以及他们的个人和企业投资的安全港湾。
              //-   | 投资者对个人，及其贸易及商业的方便往返美国。
              //- p 永久居民和美国护照持有人前往美国和大多数国家没有签证需要。投资者可工作，居住或拥有自己的生意在美国的任何地方。
              //-   | 居住在美国的成本低于大多数大型工业国家。比同类的服务和货物在大多数其他国家, 美囯消费品，服务，住房是显著便宜。
              //- p 中国咨询热线	400-036-8278

            //-  #join.tab-pane.fade
            //-   .row.hm-bordered
            //-    span.arrow &nbsp;
            //-    span.content-title 参与项目
            //-   .content-wrap.row.hm-bordered
            //-    blockquote
            //-     span.glyphicon.glyphicon-user &nbsp;请提供联系方式，我们会安排工作人员提供一对一服务
            //-    form#joining-form.form-horizontal(role="form")
            //-      .form-group
            //-        label.col-sm-2.control-label(for="name") 姓名
            //-        .col-sm-5
            //-          input#name.input-lg.form-control(type="text" placeholder="输入您的姓名")
            //-      .form-group
            //-        label.col-sm-2.control-label(for="phone") 电话
            //-        .col-sm-5
            //-          input#phone.input-lg.form-control(type="text" placeholder="输入您的电话")
            //-      .form-group
            //-        label.col-sm-2.control-label(for="city") 城市
            //-        .col-sm-5
            //-          input#city.input-lg.form-control(type="text" placeholder="输入您所在城市")
            //-      .form-group
            //-        .col-sm-offset-2.col-sm-5
            //-          button#submit-button.btn.input-lg.btn-primary(type="submit") 提交
            //-          .loading.hidden
            //-            i.fa.fa-spinner.fa-spin.fa-lg



block css
  link(href="/css/home.css" rel="stylesheet")
  link(href="/css/flexslider.css" rel="stylesheet")


block js
  script(src="/js/home.js")
  script(src="/js/jquery.flexslider-min.js")
