doctype html
html
  head
    //- link(rel='stylesheet', href='/css/style.css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="上海好识买商务咨询有限公司")
    meta(name="keywords" content="EB-5")
    meta(name="author" content="to0")
    title 上海好识买商务咨询有限公司
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/font-awesome.min.css" rel="stylesheet")

    block css

  body
    .header
      .container
        h3 上海好识买商务咨询有限公司
        
    block content

    .footer
      .container
          p 上海好识买商务咨询有限公司 2012-2014 © All Right Reserved
          p 沪ICP备：13014224号-1

    script(src="/js/jquery-1.11.0.min.js")
    script(src="/js/bootstrap.min.js")

    block js
